
<div id="graph" ></div>
<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Graph(x, y, c);
</script>

<div id = "map">
<div id="map1" ></div>
<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Mapgenerate('map1');
</script>
<div id="map2" ></div>
<script>

mapboxgl.accessToken = 'pk.eyJ1Ijoia2FpaHV1IiwiYSI6ImNqZnhzbGoxeTRxYTMyd3FvZGdicjNoeDkifQ.yxJUITl3Zaa5ML5TSrGsUA';

var map = new mapboxgl.Map({
    container: 'map2',
    style: 'mapbox://styles/mapbox/streets-v9'
});

map.on('load', function() {
    map.loadImage('/circle-moon.png', function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [0, 0]
                        }
                    }]
                }
            },
            "layout": {
                "icon-image": "cat",
                "icon-size": 0.25
            }
        });
    });
});
</script>
<p>
<%= image_tag '/circle-moon.png' %>
</p>
</div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>