<div id="graph" ></div>
<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Graph(x, y, c);
</script>

<div id = "map">
<div id="map1" ></div>
<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Mapgenerate('map1');
</script>
<div id="map2" ></div>
<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Mapgenerate('map2');
</script>
</div>