<div id = "map">
<div id="map1" ></div>

<div class="slider_field">
<div id="slider" ></div>
</div>
<input type="button" value="Randomize" id="button1" onClick="datachange(data[1])" >

<div id = "graph"></div>
</div>






<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


<script>
var x = [1, 2, 3, 4, 5];
var y = [5, 4, 3, 2, 1];
var c = [11, 12, 13 ,14, 15];
Mapgenerate('map1');

var data = [[1, 2, 3],
            [5, 4, 3],
            [11, 12, 13]];
AnimeGraph();
</script>